
<div  class="panel">
            
                        <span>
                        <a href="#" id="Login"  class="links" >SIGNUP</a>
                        <b style="font-size:x-large; padding-top:10px;padding-left:5px;  float:left">Log Engine</b>
                        </span>
            </div>
                        
                       
                        
                        <center> 
                        <img class="logo" src="/assets/hospira.jpg" alt="Hospira" width="120" height="120">
                        <div align="center" class="Login-page">
                        <h1>User Login</h1>
                        <img src="/assets/user.png" alt="USer-Login">
                       <!--  <form action="" method="post" > -->
                       <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                        <table style="width:90%;" align="center">
                        <tr>
                          <td>
                            <label>E-mail:</label>
                          </td>
                          <td>
                            <!-- <input type="text" accept="text/plain" border="0" placeholder="username"> -->
                             <%= f.email_field :email, autofocus: true %>
                          </td>
                        
                        </tr>
                        <tr>
                        <td><br/>
                        <label>Password:</label>
                        </td>
                        <td>
                          <br/>
                        <!-- <input type="password" pattern="*" border="0" placeholder="******"> -->
                         <%= f.password_field :password, autocomplete: "off" %>
                        </td>
                        
                        </tr>
                        <tr>
                        <td>
                 
                        </td>
                        <td style"float:right">
                          <br/>
                          &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="submit" name="Login"  value="Login" style="background:#00BBCB;width:40%;"/>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="reset" name="Clear" value="Clear" style="background:#00BBCB;width:40%;"/>
                        
                        </td>
                        
                        </tr>
                        
                        </table>
                        <br/>
                        <!-- </form> -->
                        <% end %>
                        </div>
                        
                        </center>
                        <div align="center" class="footer-panel"></div>
</body>

<!--<%= render "devise/shared/links" %>-->
