<script type="text/javascript">
function HandleBrowseClick1()
{ 
var fileinput1 = document.getElementById("browse1");
    fileinput1.click();
var textinput1 = document.getElementById("filename1");
    textinput1.value = fileinput1.value;
	
}

function HandleBrowseClick2()
{ 
var fileinput2 = document.getElementById("browse2");
    fileinput2.click();
var    textinput2 = document.getElementById("filename2");
    textinput2.value = fileinput2.value;
	
}
function HandleBrowseClick3()
{ 
var fileinput3 = document.getElementById("browse3");
    fileinput3.click();
var    textinput3 = document.getElementById("filename3");
    textinput3.value = fileinput3.value;
	
}

jQuery('#hdp-button').click(function() { 
    var mb = jQuery('#HDP-modal').text(); 
    alert("Value of div is: " + mb); 
});


</script>




<div class="container" >
			<!-- Push Wrapper -->
			<div class="mp-pusher"  id="mp-pusher">

				<!-- mp-menu -->
				<nav id="mp-menu" class="mp-menu">
					<div class="mp-level">
						<h2 class="icon icon-world"><b>Verify Logs</b></h2>
						<ul style="color:#FFFFFF">
							<li class="icon icon-arrow-left">
								<a class="icon icon-display" href="#">PLUM</a>
								<div class="mp-level">
									<h2 class="icon icon-display">PLUM</h2>
									<a class="mp-back" href="#">Back</a>
									<ul>
										<li class="icon">
											<a class="icon icon-bulb" href="#">AP RESPONSE</a>
											
										</li>
										<li class="icon">
											<a class="icon icon-bulb" href="#">AD STATUS</a>
                                            </li>
										<li class="icon">
											<a class="icon  icon-bulb" href="#">AD EVENTS</a>
											
										</li>
									</ul>
								</div>
							</li>
							<li class="icon icon-arrow-left">
								<a class="icon icon-display" href="#">PCA</a>
								<div class="mp-level">
									<h2 class="icon icon-display">PCA</h2>
									<a class="mp-back" href="#">Back</a>
									<ul>
										<li class="icon">
											<a class="icon icon-bulb" href="#">AP RESPONSE</a>
											
										</li>
										<li class="icon">
											<a class="icon icon-bulb" href="#">AD STATUS</a>
                                            </li>
										<li class="icon">
											<a class="icon  icon-bulb" href="#">AD EVENTS</a>
											
										</li>
                                        
									</ul>
								</div>
							</li>
                            
                            <li class="icon icon-arrow-left">
								<a class="icon icon-display" href="#">SYMBIQ</a>
								<div class="mp-level">
									<h2 class="icon icon-display">SYMBIQ</h2>
									<a class="mp-back" href="#">Back</a>
									<ul>
										<li class="icon">
											<a class="icon icon-bulb" href="#">AP RESPONSE</a>
											
										</li>
										<li class="icon">
											<a class="icon icon-bulb" href="#">AD STATUS</a>
                                            </li>
										<li class="icon">
											<a class="icon  icon-bulb" href="#">AD EVENTS</a>
											
										</li>
									</ul>
								</div>
							</li>
							
                            <li class="icon icon-arrow-left">
								<a class="icon icon-display" href="#">SAPPHIRE</a>
								<div class="mp-level">
									<h2 class="icon icon-display">SAPPHIRE</h2>
									<a class="mp-back" href="#">Back</a>
									<ul>
										<li class="icon">
											<a class="icon icon-bulb" href="#">AP RESPONSE</a>
											
										</li>
										<li class="icon">
											<a class="icon icon-bulb" href="#">AD STATUS</a>
                                            </li>
										<li class="icon">
											<a class="icon  icon-bulb" href="#">AD EVENTS</a>
											
										</li>
									</ul>
								</div>
							</li>
                            
						</ul>
							
					</div>
				</nav>
				<!-- /mp-menu -->

				<div class="scroller"><!-- this is for emulating position fixed of the nav -->
               
					<div class="scroller-inner">
						<!-- Top Navigation -->
                        
                        
                        <div class="panel" style="padding-top:5px;">
						<a href="#" id="trigger" class="menu-trigger"></a>
                        <span style="align-content:center">
                        <b style="font-size:x-large; margin-top:10px;">Log Engine</b>
                        </span>
                        <a href="#" class="logout">LogOut</a>
                        <a href="#" class="links" >RegEx</a>
                       	<a href="#" class="links">GitHub</a>
                        <a href="#" class="links" >Tutorial</a>
                        <span class="userdes">Signed in as <b style="color:#F85400" id="username">Sample</b> </span>
                        
						</div>
                        

     
     <form action="" method="post" >
     <span class="button-arrow small pop1" data-bpopup='{"fadeSpeed":"slow", "followSpeed":"slow", "modalColor":"black"}'>GET FILE</span>
     <span class="button">GO</span>
     </form>
    <div style="margin-left:1.5%" class="container">
						
							<div class="block block-90">
								  <div align="center" class="input-halfwidth" >
                                  <div  class="panel-area">INFUSER CONTROL PROTOCOL</div>
                                  <div  id="ICP" class="back-yellow" >
                                  </div>
                                  <span class="button-arrow small pop1-icp" id="hdp-button" data-bpopup='{"fadeSpeed":"slow", "followSpeed":"slow", "modalColor":"black"}'>EXPAND</span>
                                  </div>
                                  <center>
                                  <div class="req-res"><img src="/assets/reqres.gif" ></div></center>
								  <div align="center" class="input-halfwidth" >
                                  <div  class="panel-area">HOSPIRA DEVICE PROTOCOL</div>
                                  <div id="HDP" class="back-yellow" ></div>
								  <span class="button-arrow small pop1-hdp" data-bpopup='{"fadeSpeed":"slow", "followSpeed":"slow", "modalColor":"black"}'>EXPAND</span>
                                  </div><center>
                                  <div class="req-res"><img src="/assets/reqres.gif" ></div></center>
								  <div  align="center" class="input-halfwidth" >
                                  <div class="panel-area">CLINICAL INTERFACE</div>
                                  <div id="CLINICAL INTERFACE" class="back-yellow" ></div>
                                  <span class="button-arrow small pop1-ci" data-bpopup='{"fadeSpeed":"slow", "followSpeed":"slow", "modalColor":"black"}'>EXPAND</span>
                                </div>
                                <br/><br/>
							</div>
                           
						</div>
                        
                        
					</div><!-- /scroller-inner -->
				</div><!-- /scroller -->
  
			</div><!-- /pusher -->
            
          
		</div><!-- /container -->
        
        <div align="center" id="popup">
        <span  class="button b-close"><span>X</span></span>
        <h4>Browse the Files<h4/>
        <form action="" method="post">
        <table width="100%">
			<tr>
            <td width="120">
            <b>AP RESPONSE</b>
            </td>
            <td>
        	<input type="file" id="browse1" name="fileupload" style="display: none"/>
			<input type="text" style="background:#00BBCB" id="filename1" />
            </td>
			<td>
            <input type="button" value="Browse" id="ApResponse" onclick="HandleBrowseClick1();"/>
            </td>
            <td>
            <input type="reset" value="Clear">
            </td>
            </tr>
            <tr>
            <td>
            <b>AD STATUS</b>
            </td>
            <td>
        	<input type="file" id="browse2" name="fileupload" style="display: none"/>
			<input type="text" id="filename2"  style="background:#00BBCB"  />
            </td>
			<td>
            <input type="button" value="Browse" id="ApStatus" onclick="HandleBrowseClick2();"/>
            </td>
            <td>
            <input type="reset" value="Clear">
            </td>
            </tr>
            <tr>
            <td>
            <b>AD EVENTS</b>
            </td>
            <td>
        	<input type="file" id="browse3" name="fileupload" style="display: none"/>
			<input type="text" id="filename3" style="background:#00BBCB"  />
            </td>
			<td>
            <input type="button" value="Browse" id="AdEvents" onclick="HandleBrowseClick3();"/>
            </td>
            <td>
            <input type="button" id="clear"  value="Clear">
            </td>
            </tr>
            <tr>
            <td>
            
            </td>
            <td>
        	</td>
			<td>
				<br/>
				<input type="submit" value="Submit">
            
            </td>
            <td>
            </td>
            </tr>
            </table>

            </form>
            <br/>
            <br/>
            <form action="" method="post">
            	<table width="100%">
            	<tr>
            <td>
            <b>AP FILE PATH</b>
            </td>
            <td>
        	<input type="file" id="browse4" name="fileupload" style="display: none"/>
			<input type="text" id="filename4" style="background:#00BBCB"  />
            </td>
			<td>
            <input type="button" value="Browse" id="AdEvents" onclick="HandleBrowseClick4();"/>
            </td>
            <td>
            <input type="button" id="clear"  value="Clear">
            </td>
            </tr>
            <tr>
            <td width="120">
            <b>AP STATUS</b>
            </td>
            <td>
             <input type="text" style="background:#9BBFEB" id="ApStatus"  name="ApStatus" />
			</td>

            </tr>
            <tr>
            <td></td>
            <td>
            <br/>
            </td>
            <td><br/><input type="submit" style="background:#6789F5"  value="Save" name="Save" /></td>
            <td><br/>
            	<input type="button" style="background:#6789F5" class="b-close" value="Cancel"  />
            </td>
            </tr>
        </table>
            </form>
    </div>

    
<!--<!--- Expand The ICP  LOgs ---->
<div  style="display:none" align="center" id="popup-icp">
        <span  class="button b-close"><span>X</span></span>
        <div  class="panel-area">INFUSER CONTROL PROTOCOL</div>
<div  id="ICP-modal" class="back-yellow" ></div>
            
    </div>


<!--- Expand The HDP  LOgs ---->
<div align="center"  style="display:none" id="popup-hdp">
        <span  class="button b-close"><span>X</span></span>
        <div  class="panel-area">HOSPIRA DEVICE PROTOCOL</div>
	<div  id="HDP-modal" class="back-yellow" ></div>
            
    </div> 
       
<!--- Expand The CLINICAL INTERFACE  LOgs ---->
<div align="center"  style="display:none" id="popup-ci">
        <span  class="button b-close"><span>X</span></span>
        <div class="panel-area">CLINICAL INTERFACE</div>
	<div  id="CI-modal" class="back-yellow" ></div>
            
    </div>    

<script src="/assets/classie.js" ></script>
		<script src="/assets/mlpushmenu.js" ></script>
		<script>
			new mlPushMenu( document.getElementById( 'mp-menu' ), document.getElementById( 'trigger' ) );
		</script>
        <script>window.jQuery || document.write('<script src="/assets/jquery-1.9.1.min.js"><\/script>')</script>
    <script src="/assets/jquery.bpopup-0.11.0.min.js" ></script>
	
	<script src="/assets/scripting.min.js" ></script>
